.side-nav-display {

    height: 100%;
    background-color: #000;
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden

}
    
.side-nav-menu-button {
        position: relative;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 50%;

}


.menu-btn {
    background-color: none;

}



.inactive,
.active {
    position: absolute;
    top: 4em;
    transform-origin: 0 0;
    transform: rotate(90deg);
    color: white;
    font-size: 18px;
    display: block;
    margin-left: 4em;
}



/* Inner Side Navigation */

.inner-side-nav-container {

    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 4;
    background-color: black;
    z-index: 2;
    transition: .5s;


}
    

